# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
* List popular languages for Data Science 
* List popular libraries used by Data Scientists 
* Learn how to write arithmetic expression 
* Learn how to create tables in Jupyter notebook

Some of the popular languages that Data Scientists use are:
  1. Python
  2. R
  3. SQL
  4. Scala 
  5. Java 
  6. C++

some of the commonly used libraries used by Data Scientists include:
1. scikit-learn 
2. TensorFlow 
3. Apache Spark

|Data Science Tools | 
|-------------------|
| Jupyter Notebooks |
|     RStudio       |
|   Visual Studio   |

### Below are a few examples of evaluating arithmetic expressions in Python
###### 4+7 
###### (11*5)/5
###### 150+8-9

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Godsway Awuah